# ignore bin folder
bin/
py-notbook/
.idea/workspace.xml
Some_old_methods_removed__.patch
alignment/__init__.pyc
alignment/__pycache__/
alignment/aligner.pyc
alignment/commons.pyc
alignment/lanes.pyc
alignment/retroT_analysis.pyc
annotate/Annotate.pyc
annotate/__init__.pyc
annotate/__pycache__/
overlap_analysis/__init__.pyc
overlap_analysis/__pycache__/
overlap_analysis/cal_genomic_region.pyc
overlap_analysis/differential_binding.pyc
overlap_analysis/filterPeaks.pyc
overlap_analysis/multiprocess_peak_overlap.py~
peakcaller/__pycache__/
plotsAndseq/__init__.pyc
plotsAndseq/__pycache__/
plotsAndseq/plots.pyc
plotsAndseq/seqOperations.pyc
rna_seq/__init__.pyc
rna_seq/__pycache__/
rna_seq/bam_processing.pyc
rna_seq/some_methods.pyc
stat_tests/__init__.pyc
stat_tests/__pycache__/
stat_tests/permutation.pyc
/bin/run1.py
/bin/run.py
